@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Rubik+Glitch&display=swap');
:root {
  --pixelated-font: 'Press Start 2P', cursive;
  --glitch-font: 'Rubik Glitch', cursive;
}

html{
  background-color: rgb(251, 198, 99);
}

.gameboard{
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(3, 200px);
  gap: 5px;
}

body{
  display: flex;
  align-items: center;
  flex-direction: column; 
}

header{
  font-weight:bolder ;
  font-size: 40px;
  font-family: var(--pixelated-font);
  padding: 30px;
}

.squares{
  display: flex;
  background: rgb(8, 8, 8);
  align-items: center;
  justify-content: center;
  font-family: var(--glitch-font);
  font-size: 100px;
  color: #FFFFFF;
  
}

.squares:hover {
  opacity: 0.5;
}

.circle{
  width: 150px;
  height: 150px;
}

.cross{
  width: 100px;
  height: 100px;
}

.gameStatus {
  font-family: var(--pixelated-font);
  padding: 30px;
}

.button {
  padding: 10px;
}

.resetBtn {
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  padding: 30px;
  outline: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  width: 100%;
  font-family: var(--pixelated-font);
}

.resetBtn:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

